.item {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  justify-content: start;
  border-radius: 5px;
  border: 2px solid;
  border-color: grey;
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}
.avatar {
  margin-right: 20px;
}
.name {
  text-align: center;
  padding: auto;
  font-size: 20px;
  font-weight: 700;
}
