.statistics {
  text-align: center;
}
.title {
  text-align: center;
  margin-top: 20px;
}
.statList {
  margin: 5 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
